@charset "utf-8";

/* 基本 */
body
{
  font-family: 'Noto Sans JP', sans-serif;
  animation: fade 2s;
}

@keyframes fade
{
  0%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }
}

.container
{
  width: 85%;
  margin: 0 auto;
}

h2
{
  font-size: 24px;
  font-weight: bold;
}

h3
{
  font-size: 20px;
  font-weight: bold;
}

ul
{
  list-style: none;
}

.btn
{
  display: block;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 24px;
}

.screen-reader-only
{
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}


@media(min-width: 768px)
{
  .container
  {
    width: 91%;
    max-width: 1240px;
  }

  h2
  {
    font-size: 36px;
  }
}

/* リセット */
body, h1, h2, h3, h4, h5, h6, p, ul, figure, input, textarea
{
  margin: 0;
  padding: 0;
}

a
{
  color: inherit;
  text-decoration: none;
}

a:hover
{
  opacity: 0.8;
}

/* ========== header ========== */

header
{
  position: relative;
}

header .container
{
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.logo
{
  display: flex;
  align-items: center;
}

header .logo img
{
  margin-right: 10px;
}

header .corporate__name
{
  color: #333333;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.5;
}

header .corporate__sub
{
  color: #707F89;
  font-size: 10px;
  line-height: 1.5;
}

nav .btn
{
  display: inline-block;
  width: 148px;
  padding: 11px 11px;
  text-align: center;
}

@media(max-width: 767px)
{
  nav
  {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.5s;
  }
  
  nav ul
  {
    text-align: center;
  }
  
  nav li:not(:last-child)
  {
    margin-bottom: 40px;
  }
  
  nav .btn
  {
    display: inline-block;
    width: 148px;
    padding: 11px 11px;
    text-align: center;
    color: #fff;
    border: solid 2px #fff;
  }
  
  .hamburger
  {
    box-sizing: content-box;
    padding: 0;
    margin-left: auto;
    border-style: none;
    background: none;
    width: 20px;
    height: 14px;
    color: #2E5180;
  }
  
  .hamburger::before, .hamburger::after
  {
    content: '';
    display: block;
    background: #2E5180;
    height: 2px;
    transition: 0.3s ease-in-out;
  }
  
  .hamburger::before
  {
    transform: translateY(-6px);
    box-shadow: 0 7px;
  }
  
  .hamburger::after
  {
    transform: translateY(6px);
  }
  
  /* ナビゲーション（閉） */
  html, body
  {
    overflow-x: hidden;
  }
  
  /* ナビゲーション（開） */
  
  html .open, .open body
  {
    height: 100%;
    overflow: hidden;
  }
  
  .open .hamburger
  {
    z-index: 1000;
    color: #fff;
  }
  
  .open .hamburger::before
  {
    transform: translateY(1px) rotate(45deg);
    box-shadow: none;
  }
  
  .open .hamburger::after
  {
    transform: translateY(-1px) rotate(-45deg);
  }
  
  .open form
  {
    display: none;
  }
  
  .open nav
  {
    left: 0;
  }
}


@media(min-width: 768px)
{
  header .container
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
  }
  
  header .logo img
  {
    width: 59px;
    height: 59px;
    margin-right: 18px;
  }

  header .corporate__name
  {
    font-size: 20px;
  }

  header .corporate__sub
  {
    font-size: 12px;
  }

  nav
  {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }

  nav ul
  {
    display: flex;
    align-items: center;
    color: #333333;
  }
  nav .btn
  {
    display: inline-block;
    color: #2E5180;
    border: solid 2px #2E5180;

  }
  
  nav li:not(:last-child)
  {
     margin-right: 23px;
  }

  .hamburger
  {
    display: none;
  }
}

/* ========== hero ========== */

.hero
{
  height: 400px;
  background-image: url(images/hero.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
}

.hero-copy
{
  align-self: flex-end;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 33px 0;
}

.hero .container
{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.hero img
{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.hero-sub
{
  font-size: 14px;
  color: #2E5180;
  text-align: center;
  margin-bottom: 15px;
  line-height: 1.4;
}

@media(min-width: 768px)
{
  .hero
  {
    height: 700px;
  }

  .hero-copy
  {
    padding: 47px 0 44px;
  }

  .hero-sub
  {
    font-size: 16px;
    margin-bottom: 22px;
  }
}

/* ========== message ========== */
.message
{
  background-color: #2E5180;
  color: #fff;
  padding: 67px 0;
}

.message h2
{
  text-align: center;
  margin-bottom: 38px;
  line-height: 1.67;
}

.message p
{
  font-size: 14px;
  line-height: 1.86;
}

@media(min-width: 768px)
{
  .message
  {
    padding: 81px 0;
  }
  .message .container
  {
    max-width: 640px;
  }

  .message h2
  {
    line-height: 1.33;
  }
}

@media(max-width: 370px)
{
  .message h2
  {
    font-size: 20px;
  }
}

/* ========== service ========== */

.service
{
  padding: 67px 0;
  text-align: center;
}

.service-title
{
  margin-bottom: 53px;
  color: #333333;
}

.service h2
{
  display: inline-block;
  color: #2E5180;
  line-height: 1.5;
  padding-bottom: 9px;
  margin-bottom: 16px;
  border-bottom: dashed 2px currentColor;
}

.service-title-sub
{
  font-size: 16px;
  color: #2E5180;
}

.detail:not(:last-child)
{
  margin-bottom: 67px;
}

.detail figure
{
  height: 246px;
  margin-bottom: 22px;
  background-position: center;
  background-size: cover;
}

.detail.office figure
{
  background-image: url(images/office.jpg);
}

.detail.manage figure
{
  background-image: url(images/manage.jpg);
}

.detail.research figure
{
  background-image: url(images/research.jpg);
}

.detail h3
{
  margin-bottom: 17px;
}

.detail p
{
  max-width: 264px;
  margin: 0 auto 25px;
  font-size: 12px;
}

.detail .btn
{
  width: 208px;
  padding: 11px 11px;
  color: #2E5180;
  border: solid 2px currentColor;
}

@media(min-width: 768px)
{
  .service
  {
    margin: 95px 0 87px;

  }

  .service-title
  {
    margin-bottom: 75px;
  }

  .service h2
  {
    font-size: 36px;

  }

  .details
  {
    display: flex;
  }

  .detail
  {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 3.22%;
    
  }

  .detail:last-child
  {
    margin-right: 3.22%;
  }

  .detail:not(:last-child)
  {
    margin-bottom: 0;
  }

  .detail figure
  {
    height: 360px;
    margin-bottom: 33px;
  }

  .detail h3
  {
    font-size: 30px;
    margin-bottom: 26px;
  }

  .detail p
  {
    width: 78%;
    max-width: none;
  }

  .detail .btn
  {
    margin-top: auto;
  }

}

@media(max-width: 850px)
{
  .detail h3
  {
    font-size: 28px;
  }
}

/* ========== contact ========== */

.contact
{
  background-color: #EEF4F8;
  color: #333333;
}

.contact .container
{
  padding: 62px 0;
}

.contact  h2
{
  margin-bottom: 42px;
}

.contact-text p
{
  font-size: 12px;
  line-height: 2.1;
  margin-bottom: 46px;
}

form
{
  display: flex;
  flex-direction: column;
  flex:1;
}

.contact-input-item
{
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 14px;
  border: solid 1px #CDD6DD;
  box-sizing: border-box;
  margin-bottom: 17px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
  -webkit-appearance: none;
}

.contact-input-item::placeholder
{
  color: #CDD6DD;
  opacity: 1.0;
}

.contact-input-item:-ms-input-placeholder
{
  color: #CDD6DD;
}

form input
{
  height: 50px;
}

form textarea
{
  height: 150px;
  line-height: 3.125;
}

form .btn
{
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 11px 0;
  color: #fff;
  background-color: #2E5180;
  cursor: pointer;
  -webkit-appearance: none;
}

@media(min-width: 768px)
{
  .contact
  {
    background: none;
  }

  .contact .container
  {
    background-color: #EEF4F8;
    padding: 62px 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-text
  {
    flex: 0 0 auto;
  }
  .contact  h2
  {
    font-size: 36px;
  }

  .contact-text p
  {
    font-size: 14px;
    line-height: 1.85;
    margin-bottom: 0;
  }
  
  form
  {
    flex: 1 1 auto;
    max-width: 457px;
    margin-left: 1rem;
  }

  form .btn
  {
    width: 272px;
  }
}

/* ========== footer ========== */

footer
{
  color: #fff;
  background-color: #2E5180;
}

footer .container
{
  padding: 38px 0 56px;
}

footer .logo img
{
  margin-right: 14px;
}

footer .corporate__name
{
  font-size: 16px;
  font-weight: bold;
}

footer .address, footer .SNS
{
  margin-left: 60px;
}

footer .address
{
  margin-bottom: 36px;
}

footer .SNS
{
  display: flex;
  flex-direction: row;
}

footer .SNS-link:not(:last-child)
{
  margin-right: 25px;
}

@media(min-width: 768px)
{
  footer
  {
    margin-top: -48px;
    padding-top: 48px;
    position: relative;
    z-index: -1;
  }

  footer .container
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 57px 0 74px;
}

  footer .logo img
  {
    width: 59px;
    height: 59px;
    margin-right: 18px;
  }

  footer .corporate__name
  {
    font-size: 20px;
  }

  footer .address
  {
    margin-left: 77px;
    margin-bottom: 36px;
  }

  footer .SNS
  {
    height: 59px;
    align-items: center;
  }

}
